{% extends 'base.html' %}
<!-- Title -->
{% block title %}Ghost{% endblock title %}
<!-- Content -->
{% block content %}
<div class="text-center pt-5 pb-5">
    <div class="jumbotron">
        <h1 class="display-4 pb-3">Ghost</h1>
        <p class="lead pb-4">
            Advanced Discord self-bot that allows you to reach maximum meme
            potential!
        </p>
        <a
            class="btn btn-primary btn-lg mr-5 pr-4 pl-4"
            href="{{ url_for('login') }}"
            role="button"
            >Login</a
        >
        <a class="btn btn-light btn-lg pr-4 pl-4" href="#" role="button"
            >Features</a
        >
    </div>
    <div id="key-features">
        <div class="row">
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-cogs fa-lg pb-3"></i>
                    <h3>Fully Customizible</h3>
                    <p>
                        Maecenas tempus tellus eget condimentum rhoncus sem quam
                        semper libero sit amet.
                    </p>
                    <a href="#">Read more</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-magic fa-lg pb-3"></i>
                    <h3>Online Dashboard</h3>
                    <p>
                        Maecenas tempus tellus eget condimentum rhoncus sem quam
                        semper libero sit amet.
                    </p>
                    <a href="#">Read more</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-mobile fa-lg pb-3"></i>
                    <h3>Fast</h3>
                    <p>
                        Maecenas tempus tellus eget condimentum rhoncus sem quam
                        semper libero sit amet.
                    </p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row pb-5">
        <div class="col my-auto">
            <h4>This is a cool feature title</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in
            aliquet quam, no
        </div>
        <div class="col my-auto">
            <img src="http://via.placeholder.com/300" class="img-fluid" />
        </div>
    </div>
    <div class="row pt-5">
        <div class="col my-auto">
            <img src="http://via.placeholder.com/300" class="img-fluid" />
        </div>
        <div class="col my-auto">
            <h4>This is a cool feature testimonial</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in
            aliquet quam, no
        </div>
    </div>
    <hr />
    <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing</h1>
        <p class="lead">
            Give us your money!
        </p>
    </div>

    <div class="container" id="pricing">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        $0 <small class="text-muted">/ mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Very Limited Features</li>
                        <li>Not as cool as pros</li>
                        <li>Not supporting developers</li>
                        <li>No support</li>
                    </ul>
                    <button
                        type="button"
                        class="btn btn-lg btn-block btn-outline-primary"
                    >
                        Sign up for free
                    </button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        $15 <small class="text-muted">/ mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button
                        type="button"
                        class="btn btn-lg btn-block btn-primary"
                    >
                        Get started
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
